body {
  background-color: black;
  color: grey;
  font-size: 1em;
  margin: 0;
}
input {
  font-size: 1em;
}

body>h1 {
font-family: 'Sonsie One', cursive;
color: white;
margin-left:1em;
padding-left:1em;
width:100%;
text-shadow: 10px 10px 10px rgba(255,255,255, 0.4);
border-bottom: 1px solid white;
}


.countdown {
  font-family: 'Sonsie One', cursive;
  font-size: 1.8em;
}
.board {
width: 100%;
margin:0 auto;
}

.bidBtn{ float:left;
  margin: 10px 1.2em;
  background-color:#333;
  color:white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size:1.2rem;
  -webkit-transition-duration: 1000ms;
}
.bidBtn p {
  -webkit-transition-duration: 1000ms;
}

.bidBtn.stressed{
  width:230px;
  -webkit-transition-duration: 10000ms;
}

.debug { max-width:300px; font-size:0.9em; color: #999; }

.playerList { position: absolute; cursor:pointer; font-size:2em; margin:1em; right:0; top:100; margin: 1em;}
.player { color: white; }

.bidBtn.loser{
  background-color:#600;
}

.bidBtn.winner{
  background-color:#33C;
}

.dashboard {
  clear:both;
  color: grey;
}
.addUser {
position:absolute;
top:0;
right:0;}
.addUser input, .addUser button {
  font-size:1em; background-color:#999;
}

.userlist div {
  clear:both;
  border-top: 1px solid grey;
  width: 30%;
}
.userlist div:hover {
  background-color: #333;
}