body {
  background-color: black;
  color: grey;
  font-size: 1em;
  margin: 0;
}
input {
  font-size: 1em;
}

body>h1 {
font-family: 'Sonsie One', cursive;
color: white;
margin-left:1em;
padding-left:1em;
width:100%;
text-shadow: 10px 10px 10px rgba(255,255,255, 0.4);
border-bottom: 1px solid white;
}

body>h1 span {margin-left: 2em; font-size: 0.6em; color: #CCC;}

.countdown {
  font-family: 'Sonsie One', cursive;
  font-size: 1.8em;
}
.board {
width: 100%;
margin:0 auto;
}

.bidBtn{ float:left;
  margin: 10px 1.2em;
  background-color:#333;
  color:white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size:1.2rem;
  -webkit-transition-duration: 1000ms;
}
.bidBtn p {
  -webkit-transition-duration: 1000ms;
}

.bidBtn .name {
  width:200px;
  margin:0 auto;
}

.results {
  clear:both;
  color: yellow;
  font-size:3em;
  margin: 10px 50px;
}

.status {
  clear:both;
  color: #99f;
  font-size:2em;
  margin: 10px 50px;
}

.bidBtn.done{
  opacity: 0;
  -webkit-transition-duration: 5000ms;
}

.bidBtn.disabled{
  border-radius: 0;
  background-color:transparent !important;
  opacity:1 !important;
}

.bidBtn.hey {
  width: 310px;
  height: 310px;
  -webkit-transition-duration: 500ms;

}

.debug { max-width:300px; font-size:0.9em; color: #999; }

.playerList { position: absolute; cursor:pointer; font-size:2em; margin:1em; right:0; top:100; margin: 1em;}
.player { color: white; }

.bidBtn.loser{
  background-color:#600;
}

.bidBtn.winner{
  background-color:#33C;
}

.dashboard {
  clear:both;
  color: grey;
}
.admin{
  font-size:2em;
}

#intro button, #intro input {
  font-size:3em;
  background-color: #333;
  border: 1px solid #779;
  color: #EED;
}


.addUser {
position:absolute;
top:0;
right:0;}
.addUser input, .addUser button {
  font-size:1em; background-color:#999;
}
